body{
    background-color: #fff;
    display: table-cell;
    padding: 5vh;
    border: 1px solid red;
}
body{
    background-color: #fff;
    display: table-cell;
    padding: 5vh;
    border: 1px solid red;
}